:root {
  --firstColor: rgb(201, 203, 163);
  --secondColor: rgb(62, 137, 137);
  --thirdColor: #8d7471;
  --hoverColor: rgb(41, 90, 90);
  --primaryFont: "Inconsolata", sans-serif;
  --secondaryFont: "#";
  --titalFont: "Fuggles", sans-serif;
  --first-font-color: rgb(2, 21, 4);
}

/* * {
  border: 1px solid black;
} */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: var(--primary-font);
}

header {
  background-color: var(--secondColor);
  margin: 0;
}

h1 {
  margin: 0;
  font-family: var(--titalFont);
  font-size: 60px;
}

#heroContainer {
  padding-left: 10px;
  padding-right: 10px;
}

#heroImage {
  border: 2px solid black;
  max-width: 380px;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background-color: var(--secondColor);
  color: #000;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  align-items: center;
  justify-content: center;
  background-color: var(--secondColor);
}

.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  display: none;
  text-decoration: none;
  padding: 0.8rem;
  color: black;
  font-size: 1.5rem;
}

.navigation a:hover {
  background-color: var(--hoverColor);
  box-shadow: 3px 3px 15px var(--hoverColor);
}

.open a {
  display: block;
}

#indexMain {
  display: grid;
  grid-template-columns: 1rem 1fr 1fr 1rem 1fr 1fr 1rem;
  justify-content: center;
  margin: 0px auto;
  padding-bottom: 200px;
}

/* #indexMain */

#indexMain a {
  text-decoration: none;
  /* position: relative;
  bottom: 20px; */
  padding: 2px;
  border: 2px solid var(--secondColor);
  margin-bottom: 100px;
}

#mission {
  grid-column: 2/7;
  background-color: var(--firstColor);
  border: 5px solid var(--secondColor);
  border-radius: 1%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

.card {
  grid-column: 2/7;
  background-color: var(--firstColor);
  border: 3px solid var(--secondColor);

  margin: 5px;
}

.cardTitle {
  background-color: var(--secondColor);
  padding: 0;
  margin: 0;
}

.cardContent {
  padding: 2px;
}

footer {
  background-color: var(--secondColor);
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  bottom: 0;
  font-weight: normal;
}

/* #discoverMain*/

#discoverMain {
  display: grid;
  grid-template-columns: 15px 1.5fr 1fr 1fr 15px;
  column-gap: 0px;
}

#visitsCounter {
  display: inline;
  grid-column: 1/6;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--firstColor);
  border: 3px solid var(--secondColor);
}

#visitsCounter span {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: bold;
}

.discoveryContent {
  grid-column: 2/5;
}

.contentCard {
  background: var(--firstColor);
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid var(--secondColor);
}

.contentCard p {
  padding-left: 20px;
  padding-right: 20px;
}

#discoveryRight img {
  width: 90%;
  max-width: 600px;
  min-width: 200px;
  margin: 20px;
  box-shadow: 5px 5px 20px var(--secondColor);
}

/*joinMain*/

#joinMain {
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  margin: 0 auto;
  justify-items: center;
}

#formContainer {
  grid-column: 2/3;
  padding: 10px;
  margin-top: 20px;
  border: 3px solid var(--secondColor);
  border-radius: 20px;
  background-color: var(--firstColor);
}

#joinForm {
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: var(--primaryFont);
  font-weight: bold;
}

label {
  margin-top: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: var(--primaryFont);
  font-weight: bold;
  margin-bottom: 12px;
  border: 2px solid var(--secondColor);
  border-radius: 10px;
}

#submitJoin {
  padding: 10px;
  font-family: var(--primaryFont);
  font-weight: bold;
  border: 3px solid var(--secondColor);
  border-radius: 5%;
}

/* Benfits Table*/

#benfits {
  grid-column: 2/3;
  max-width: 400px;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
}

th {
  width: 300px;
}

caption {
  padding: 5px;
  caption-side: bottom;
  color: var(--hoverColor);
  font-size: 0.85rem;
  margin-bottom: 20px;
}

tr:first-child th,
.highlight {
  background-color: var(--secondColor);
  color: var(--forelight);
}

.highlight {
  border-top: 1px solid var(--secondColor);
}

th,
td {
  padding: 10px 10px;
  /* border: 1px solid var(--borderlight); */
}

tbody td {
  border: 1px solid var(--secondColor);
}

th {
  background-color: var(--firstColor);
  font-size: larger;
  color: var(--zebra);
}

th:last-child {
  border-right: 1px solid var(--secondColor);
}

td {
  text-align: center;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: var(--zebra);
}

/* Thank you page*/

#thankYou {
  grid-column: 2/3;
  font-family: var(--titalFont);
  font-size: 5rem;
  max-width: 400px;
  font-weight: bold;
  background-color: var(--firstColor);
  padding: 15px;
  border: 3px solid var(--secondColor);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Directory page ************************ */

#indexDirectory h2 {
  color: navy;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #bbb;
}

#indexDirectory h3 {
  margin: 0;
}

#indexDirectory h4 {
  color: #333;
  margin: 7px 0 5px 0;
}

#indexDirectory p {
  margin: 0;
}

#indexDirectory main {
  margin-left: 2rem;
}

#indexDirectory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#indexDirectory section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#indexDirectory section > p {
  min-height: 30px;
}

#indexDirectory img {
  width: auto;
  max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}
