@media screen and (min-width: 650px) {
  #menu {
    display: none; /* hide hamburger button */
  }

  .navigation a {
    display: block;
  }

  .navigation ul {
    flex-direction: row;
    justify-content: center;
  }

  .navigation ul li a {
    width: 9rem;
  }

  #indexMain {
    max-width: 900px;
  }

  #news {
    grid-column: 2/4;
  }
  #state {
    grid-column: 5/7;
  }
  #weather {
    grid-column: 2/4;
  }
  #highlights {
    grid-column: 5/7;
  }
  footer {
    position: fixed;
  }

  footer p {
    display: inline;
  }

  /* discover page CSS*/

  #discoveryLeft {
    grid-column: 2/3;
  }
  #discoveryRight {
    grid-column: 3/5;
    margin-bottom: 150px;
  }

  #discoveryRight img:hover {
    box-shadow: 0 0 50px var(--secondColor);
  }

  /* Join Page*/

  #joinMain {
    grid-template-columns: 15px 1fr 15px 1fr 15px;
    margin-bottom: 150px;
    max-width: 900px;
  }

  #benfits {
    grid-column: 4/5;
    max-width: 400px;
    margin-top: 15px;
  }

  #thankYou {
    grid-column: 2/5;
  }
}
