:root {
  --firstColor: rgb(80, 137, 177);
  --secondColor: rgb(98, 165, 214);
  --hoverColor: rgba(99, 69, 69, 0.349);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: sans-serif;
}
/* 
* {
  border: 2px solid black;
} */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: var(--primary-font);
}

header {
  background-color: var(--secondColor);
  font-family: var(--primary-font);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

#hero {
  text-align: right;
  padding-right: 2%;
}

#heroImage {
  border-radius: 60%;
  box-shadow: 20px 20px rgb(62, 106, 138);
  width: 100%;
}

#nameSpan {
  align-self: center;
  font-size: 2.1rem;
  padding-left: 7%;
}

#dark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--secondColor);
  border-radius: 20%;
  border: 0px;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background-color: var(--firstColor);
  color: #000;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  align-items: center;
  justify-content: center;
  background-color: var(--firstColor);
}

.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  display: none;
  text-decoration: none;
  padding: 0.8rem;
  color: black;
  font-size: 1.5rem;
}

.navigation a:hover {
  background-color: var(--hoverColor);
  box-shadow: 3px 3px 15px var(--hoverColor);
}

.open a {
  display: block;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 15px 1fr 1fr 1fr 15px;
  justify-content: center;
  margin: 0px auto;
  padding-bottom: 100px;
}

#temple-image {
  width: 100%;
  height: auto;
  background-color: #000;
  grid-column: 1/6;
}

#temple-name {
  position: absolute;
  top: 35%;
  margin-left: 10%;
  background: radial-gradient(#fff, #8e460a);
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 0.75rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
}

#temple-name p {
  margin: 0;
  padding: 0.25rem;
  font-weight: 1000;
  font-size: 1rem;
  font-family: var(--primary-font);
}

h1 {
  grid-column: 2/5;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--firstColor);
  font-weight: 900;
  margin: 0;
}

.card {
  grid-column: 2/5;
  border: 2px solid darkslategray;
  margin-bottom: 25px;
  font-size: 1.3rem;
}

.card ul {
  text-align: left;
  list-style-type: none;
  padding-left: 5px;
  margin-bottom: 5px;
}

.card li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.map {
  display: flex;
  justify-content: center;
  grid-column: 2/5;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

#information p {
  padding-top: 6px;
  padding-bottom: 6px;
}

footer {
  background-color: var(--secondColor);
  padding-top: 10px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  padding-bottom: 5px;
  font-weight: bold;
}
