@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@300&display=swap");

:root {
  --firstColor: rgb(119, 105, 105);
  --secondColor: rgba(68, 62, 100, 0.349);
  --hoverColor: rgba(99, 69, 69, 0.349);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: sans-serif;
}

* {
  /* border: 2px solid black; */
  margin: 0;
  padding: 0;
}

/* font selectors */

/* html selectors selectors */

html {
  position: relative;
  min-height: 100%;
}

body {
  max-width: 414px;
  margin: 1rem auto;
  text-align: center;
  font-family: var(--primary-font);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
}

h1 {
  align-self: center;
  font-size: 2.1rem;
}

.hero {
  text-align: right;
  padding-right: 2%;
}

nav {
  text-align: center;
  background-color: var(--firstColor);
  max-width: 800px;
}

nav ul {
  list-style-type: none;
  font-family: var(--primary-font);
  font-weight: bold;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 0.7rem;
  color: black;
}
nav a:hover {
  background-color: var(--hoverColor);
  box-shadow: 3px 3px 15px var(--hoverColor);
}

/* remember to check to see if justify content is actually doing something */

main {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding-bottom: 50px;
}

h2 {
  grid-column: 2/5;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--firstColor);
}

.card {
  grid-column: 2/5;
  border: 2px solid darkslategray;
  margin-bottom: 25px;
}

.card ul {
  text-align: left;
  list-style-type: none;
  padding-left: 5px;
  margin-bottom: 5px;
}

.card li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#information p {
  padding-top: 6px;
  padding-bottom: 6px;
}

footer {
  background-color: var(--firstColor);
  padding-top: 10px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  padding-bottom: 5px;
}
