@media screen and (min-width: 500px) {
  body {
    max-width: none;
  }

  nav {
    max-width: none;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    max-width: 700px;
    margin: 0 auto;
  }
  h2 {
    grid-column: 1/6;
  }

  #learningActivities {
    grid-column: 1/4;
    text-align: center;
  }

  #information {
    grid-column: 4/6;
  }
}
